# local package
-e .

# external requirements
affine
aiohttp==3.9.3
aiosignal==1.3.1
alembic 
anyio 
argon2-cffi 
argon2-cffi-bindings 
arrow 
asttokens
async-lru 
async-timeout==4.0.3
attrs 
Babel 
beautifulsoup4 
bleach 
bottle 
Brotli 
cached-property 
certifi 
cffi 
charset-normalizer 
click 
click-plugins==1.1.1
cligj 
colorama 
colorlog==6.8.2
comm 
contourpy
cycler 
debugpy
decorator 
defusedxml
efficientnet-pytorch==0.7.1
entrypoints 
exceptiongroup 
executing 
fastjsonschema 
filelock==3.13.1
fonttools 
fqdn 
frozenlist==1.4.1
fsspec==2024.2.0
greenlet 
h11 
h2 
hpack==4.0.0
httpcore 
httpx 
huggingface-hub==0.20.3
hyperframe 
idna 
importlib_metadata 
importlib_resources 
iniconfig==2.0.0
ipykernel 
ipython 
isoduration 
jedi
Jinja2 
joblib 
json5
jsonpointer 
jsonschema
jsonschema-specifications 
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core 
jupyter_server 
jupyter_server_terminals
jupyterlab 
jupyterlab_pygments
jupyterlab_server 
kiwisolver 
lightning-utilities==0.10.1
Mako
MarkupSafe
matplotlib 
matplotlib-inline 
mistune 
mkl-service==2.4.1
mkl_fft==1.3.8
mkl_random 
mpmath==1.3.0
multidict==6.0.5
munch==4.0.0
munkres==1.1.4
nbclient
nbconvert 
nbformat 
nest_asyncio 
networkx==3.2.1
notebook_shim 
numpy 
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==8.7.0.84
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.19.3
nvidia-nvtx-cu11==11.8.86
optuna
optuna-dashboard 
overrides 
packaging 
pandocfilters 
parso
pexpect 
pickleshare 
pillow
pkgutil_resolve_name 
platformdirs 
pluggy==1.4.0
ply==3.11
pretrainedmodels==0.7.4
prometheus_client 
prompt-toolkit 
psutil 
ptyprocess 
pure-eval 
pycparser 
Pygments 
pyparsing 
PyQt5==5.15.10
PyQt5-sip 
PySocks 
pytest==8.1.1
python-dateutil
python-json-logger 
pytorch-lightning==2.2.0.post0
pytz
PyYAML 
pyzmq 
rasterio
referencing
requests 
rfc3339-validator
rfc3986-validator
rpds-py
safetensors==0.4.2
scikit-learn 
scipy 
segmentation-models-pytorch==0.3.3
Send2Trash 
sip 
six
sniffio
snuggs==1.4.7
soupsieve 
SQLAlchemy

stack-data 
sympy==1.12
terminado 
threadpoolctl @
timm==0.9.2
tinycss2
tomli 
torch==2.2.0+cu118
torchmetrics==1.3.1
torchvision==0.17.0+cu118
tornado
tqdm 
traitlets 
triton==2.2.0
types-python-dateutil 
typing-utils 
typing_extensions 
unicodedata2 
uri-template 
urllib3 
wcwidth 
webcolors 
webencodings 
websocket-client
yarl==1.9.4
zipp
